<div class="container-buddies">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-buddy ">
        <div class="form-bg1 form-three ">
          <table class="table table-striped table-hover table-users text-center">
              <thead >
                <tr>
                  <th>
                    <p class="text-center">Buddies</p>
                  </th>
                  <th>
                    <p class="text-center">Name</p>
                  </th>
                  <th>
                    <p class="text-center">Follow</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user_path(user) do %>
                    <%= image_tag user.picture || "http://api.adorable.io/avatars/300/#{user.email}" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_path(user) do %>
                    <%= user.first_name %> <%= user.last_name[0] %>.
                    <% end %>
                  </td>
                  <td>
                    <% if current_user.id == user.id %>
                      <p>Hey</p>
                    <% else %>
                      <%= link_to "Add as Friend", friendships_path(:friend_id => user), :method => :post %>
                    <% end %>
                    <!-- link_to "Supprimer des favs", fav_path(fav), method: :delete -->
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

