<div class="container-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        Test
      </div>
      <div class="col-md-4">
        <div class="form-login">
        <div class=" form-bg form-one text-center">
          <%= image_tag @user.picture || "http://api.adorable.io/avatars/300/#{current_user.email}", class: "user-picture" %>
          <div id="name-profile">
            <h1 class="text-center">
              <% if @user.first_name.blank? %>
                <strong>C'est quoi ton nom ?</strong>
              <% else %>
                <%= @user.first_name.capitalize %> <%=@user.last_name.capitalize[0] %>.
              <% end %>
            </h1>
          </div>
            <ul class="list-unstyled list-inline text-center">
              <li>
                <% if @user.social_link1.blank? %>
                <% else %>
                <%= link_to @user.social_link1, target: "_blank" do %>
                  <i class="fa fa-twitter fa-lg"></i>
                <% end %>
                <% end %>
              </li>
              <li>
                <% if @user.social_link2.blank? %>
                <% else %>
                <%= link_to @user.social_link2, target: "_blank" do %>
                <i class="fa fa-facebook-square fa-lg"></i>
                <% end %>
                <% end %>
              </li>
              <li>
                <% if @user.social_link3.blank? %>
                <% else %>
                <%= link_to @user.social_link3, target: "_blank" do %>
                  <i class="fa fa-linkedin fa-lg"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
            <% if @user.website.blank? %>
              <p>J'ai toujours pas de site web :)</p>
                <% else %>
              <%= link_to @user.website, target: "_blank"  %>

            <% end %>

            <% if  @user == current_user %>

            <% if @user.social_link1.blank? %>
            <h5>
              <%= link_to t(".top_call_to_action", default: "Je crée mon profil"), edit_user_registration_path, class: "btn btn-default text-center mini-space" %>
            </h5>
            <% else %>
              <h5>
                <%= link_to t(".top_call_to_action", default: "J'ajoute encore des infos !"), edit_user_registration_path, class: "btn btn-default text-center second-button" %>
              </h5>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-login">
        <div class="form-bg form-one text-center">
          <div class="tiny-space">
            <h4>
              Mes buddies
            </h4>
          </div>

            <ul class="list-unstyled" >
              <% for friendship in @user.friendships %>
                <li class="col-md-3">
                  <div class="friend-picture">
                    <%=h image_tag friendship.friend.picture || "http://api.adorable.io/avatars/300/#{friendship.friend.email}" %>
                  </div>
                    <h6>
                      <%=h friendship.friend.first_name %> <%=h friendship.friend.last_name[0] %>.
                    </h6>

                    <%= link_to "delete", friendship, :method => :delete %>
                </li>
              <% end %>
            </ul>

            <div class="text-center">
              <h5><%= link_to "Find Friends", users_path, class: "btn btn-default mini-space friends-button" %></h5>
            </div>
            <!-- <h2>
              Friended by Users
            </h2>
            <ul class="list-unstyled">
              <% for user in @user.inverse_friends %>
                <li class="col-md-3">
                  <%=h user.first_name %>
                </li>
              <% end %>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
