<div id="show-post">
  <div class="container-post">
    <div class ="headline headline-<%= @post.tag.downcase %>">
      <%= @post.title %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center ">
        </div>
          <%= cl_image_tag @post.cover, :crop => :fill, class: "img-post-header" %>
          <div class="col-md-8 col-md-offset-2">
            <div class="article">
              <div class="tags tags-<%= @post.tag.downcase %>">
                <%= @post.tag %>
              </div>
              <div class="category-tab">
                <% @post.categories.each do |category| %>
                  <%= category.name %>
                <% end %>
              </div>
              <div class="intro-part">
                <h5>
                  <strong>
                    <%= @post.introduction %>
                  </strong>
                </h5>
              <div class="content-part">
                <p><%= @post.content %></p>
              </div>


              <div class="comments-part">
                <ul class="list-unstyled">
                  <% @post.comments.each do |comment| %>
                  <li>

                    <h6><%= image_tag comment.user.picture || "http://api.adorable.io/avatars/300/#{comment.user.email}", class: "user-picture" %> <%= comment.user.first_name %> <%= comment.user.last_name[0] %>. - <%= l comment.user.created_at, format: :short %></h6>
                    <p><%= comment.content %></p>
                  </li>
                  <% if comment.user == current_user  %>
                    <%= link_to post_comment_path(post_id: @post.id, id: comment.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                  <% end %>
                </ul>
                  <%= render 'comments' %>
              </div>

              <div class="text-center buttons-view-post">
                <% if current_user.try(:admin?) %>
                <%= link_to "Modifier l'article", edit_post_path(@post), class: "btn btn-default btn-md" %>
                <%= link_to "Créer un article", new_post_path, class: "btn btn-default btn-md" %>
                <%= link_to "Ajouter une catégorie", new_post_category_path(@post), class: "btn btn-danger" %>
                <% end %>
                <%= link_to "Voir tous les articles", posts_path, class: "btn btn-default btn-md" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



